Checks: '
        *,

        -altera-*,
        -google-*,
        -boost-*,
        -fuchsia-*, 
        -llvmlibc-*,
        
        -cppcoreguidelines-pro-*, 
        -cppcoreguidelines-avoid-magic-numbers, 
        -cppcoreguidelines-owning-memory,
        
        -modernize-use-trailing-return-type,
        -hicpp-no-array-decay,

        -readability-identifier-length,
        -readability-function-cognitive-complexity, 
        -readability-uppercase-literal-suffix,
        -readability-magic-numbers, 
        
        -bugprone-branch-clone, 
        -bugprone-easily-swappable-parameters, 
        
        -clang-analyzer-security.insecureAPI.*,

        bugprone-header-guard,
        '
WarningsAsErrors: ''
HeaderFilterRegex: ''
CheckOptions:
  - key:              readability-magic-numbers.IgnoredFloatingPointValues
    value:            '0.0;1.0;100.0;'
  - key:              readability-magic-numbers.IgnoredIntegerValues
    value:            '0;1;2;3;4;5;6;7;8;9;'
  - key:              readability-identifier-length.IgnoredVariableNames
    value:            'it'
